<?xml version="1.0" encoding="utf-8"?>

<!-- 帮助文档配置文本 -->

<config>

<!--
	<resource language="zh" country="CN"> <![CDATA[ conf/desktop/help/zh_CN/commands.xml ]]> </resource>
	<resource language="en" country="US"> <![CDATA[ conf/desktop/help/en_US/commands.xml ]]> </resource>
	<resource language="default" country="default">  <![CDATA[ conf/desktop/help/en_US/commands.xml ]]> </resource>
-->

	<resource language="zh" country="CN"> <![CDATA[ conf/desktop/help/zh_CN/commands.xml ]]> </resource>
	<resource language="en" country="US"> <![CDATA[ conf/desktop/help/zh_CN/commands.xml ]]> </resource>
	<resource language="default" country="default"> <![CDATA[ conf/desktop/help/zh_CN/commands.xml ]]> </resource>

</config>