<?xml version="1.0" encoding="utf-8"?>

<!-- 控制台界面配置文本 -->

<config>

	<resource language="zh" country="CN"> <![CDATA[ conf/front/console/zh_CN/resource.xml ]]> </resource>
	<resource language="en" country="US"> <![CDATA[ conf/front/console/en_US/resource.xml ]]> </resource>
	<resource language="default" country="default">  <![CDATA[ conf/front/console/en_US/resource.xml ]]> </resource>

</config>